<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="jenkinseditor.preferences.keyword.jenkins"
   		label="jenkins">
     </keyword>
      <keyword
   		id="jenkinseditor.preferences.keyword.task"
   		label="task">
     </keyword>
      <keyword
   		id="jenkinseditor.preferences.keyword.tasks"
   		label="tasks">
     </keyword>
      <keyword
   		id="jenkinseditor.preferences.keyword.color"
   		label="jenkins">
     </keyword>
     <keyword
   		id="jenkinseditor.preferences.keyword.editor"
   		label="editor">
     </keyword>
     <keyword
   		id="jenkinseditor.preferences.keyword.format"
   		label="format">
     </keyword>
     <keyword
   		id="jenkinseditor.preferences.keyword.formatter"
   		label="formatter">
     </keyword>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONSOLE                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory
             class="de.jcup.jenkinseditor.console.JenkinsEditorConsoleFactory"
             icon="icons/jenkinseditor/jenkins-editor.png"
             label="Jenkins Editor Console">
       </consoleFactory>
   </extension>
   <extension point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant class="de.jcup.jenkinseditor.console.JenkinsEditorConsolePageParticipant" id="de.jcup.jenkinseditor.console.participant">
        <enablement>
            <instanceof value="de.jcup.jenkinseditor.console.JenkinsEditorConsole" />
        </enablement>
    </consolePageParticipant>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
      		name="Jenkins Editor"
      		extensions="jenkins,jenkinsfile"
            filenames="Jenkinsfile"
            icon="icons/jenkinseditor/jenkins-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.jenkinseditor.JenkinsEditor"
            id="de.jcup.jenkinseditor.JenkinsEditor">
      </editor>
   </extension>
   
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.jenkinseditor.script.problem"
    	point="org.eclipse.core.resources.markers"
    	name="Jenkins editor script problem">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="false"/>
   </extension>
   <extension 
   		id="de.jcup.jenkinseditor.script.task"
    	point="org.eclipse.core.resources.markers"
    	name="Jenkins editor task">
        <super type="org.eclipse.core.resources.taskmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONTEXT                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.contexts">
	  <context
	        name="Jenkins context"
	        description="Editing jenkins files"
	        parentId="org.eclipse.ui.textEditorScope"
	        id="de.jcup.jenkinseditor.editors.JenkinsEditor.context">
	        
	  </context>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Jenkins editor"
            id="jenkinseditor.commands.category"
            name="Jenkins editor">
      </category>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command
            name="Toggle comment"
            description="Toggle comment in selected line(s)"
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.source.toggleComment">
      </command>
      
      <command
            name="Goto matching bracket"
            description="Goto matching bracket inside jenkins document"
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.gotomatchingbracket">
      </command>
	  
	  <command
            name="Quick outline"
            description="Show quick outline dialog"
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.quickoutline">
      </command>
      
      <command
      		name="Validate by Jenkins Linter"
      		description="Validate by Jenkins Linter - done by remote operation on server"
      		categoryId="jenkinseditor.commands.category"
      		id="jenkinseditor.editor.commands.callLinter">
      </command>
      
      <command
            name="Replay pipeline script"
            description="Replay pipeline script on jenkins server"
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.replayPipeline">
      </command>
      <command
            name="Execute custom cli command"
            description="Executes a jenkins cli command."
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.callCustomCLI">
      </command>
      <command
            name="Fetch last build log"
            description="Fetches last build logs of former build"
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.fetchLastBuildLogs">
      </command>
      <command
            name="Format"
            description="Formats descriptive jenkins pipeline sourcecode"
            categoryId="jenkinseditor.commands.category"
            id="jenkinseditor.editor.commands.source.format">
      </command>
	
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
      <handler
            commandId="jenkinseditor.editor.commands.source.toggleComment"
            class="de.jcup.jenkinseditor.handlers.ToggleCommentHandler">
      </handler>
       <handler
            commandId="jenkinseditor.editor.commands.gotomatchingbracket"
            class="de.jcup.jenkinseditor.handlers.GotoMatchingBracketHandler">
      </handler>
      <handler
            commandId="jenkinseditor.editor.commands.quickoutline"
            class="de.jcup.jenkinseditor.handlers.OpenQuickOutlineHandler">
      </handler>
      <handler
      		commandId="jenkinseditor.editor.commands.callLinter"
      		class="de.jcup.jenkinseditor.handlers.CallLinterHandler">
      </handler>
      <handler
            commandId="jenkinseditor.editor.commands.replayPipeline"
            class="de.jcup.jenkinseditor.handlers.ReplayPipelineHandler">
      </handler>
      <handler
            commandId="jenkinseditor.editor.commands.callCustomCLI"
            class="de.jcup.jenkinseditor.handlers.CallCustomCommandHandler">
      </handler>
      <handler
            commandId="jenkinseditor.editor.commands.fetchLastBuildLogs"
            class="de.jcup.jenkinseditor.handlers.RestoreBuildLogToConsoleHandler">
      </handler>
      <handler
            commandId="jenkinseditor.editor.commands.source.format"
            class="de.jcup.jenkinseditor.handlers.FormatJenkinsSourceHandler">
      </handler>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDING                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.bindings">
		<key
            sequence="M1+7"
            contextId="de.jcup.jenkinseditor.editors.JenkinsEditor.context"
            commandId="jenkinseditor.editor.commands.source.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+M2+P"
            contextId="de.jcup.jenkinseditor.editors.JenkinsEditor.context"
            commandId="jenkinseditor.editor.commands.gotomatchingbracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+O"
            contextId="de.jcup.jenkinseditor.editors.JenkinsEditor.context"
            commandId="jenkinseditor.editor.commands.quickoutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+SHIFT+F"
            contextId="de.jcup.jenkinseditor.editors.JenkinsEditor.context"
            commandId="jenkinseditor.editor.commands.source.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">    
        </key>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MENU                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <extension point="org.eclipse.ui.menus">
    	
       <menuContribution
            locationURI="popup:de.jcup.jenkinseditor.editors.JenkinsEditor.context?after=additions">
         <command
               commandId="jenkinseditor.editor.commands.quickoutline"
               >
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:de.jcup.jenkinseditor.editors.JenkinsEditor.context?after=additions">
         <command
               commandId="jenkinseditor.editor.commands.callLinter"
               icon="icons/jenkinseditor/jenkins-lint-call.png">
         </command>
      </menuContribution>
    
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            
         <menu
               id="jenkinseditor.editor.menu.sourceMenu"
               label="Source"
               mnemonic="S"
               >
               <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                     	<instanceof
                            value="de.jcup.jenkinseditor.JenkinsEditor"/>
                     </with>
               </visibleWhen>
                <command commandId="jenkinseditor.editor.commands.source.format"></command>
                <command commandId="jenkinseditor.editor.commands.source.toggleComment">
            </command>
         </menu>
      </menuContribution>
      
      </extension> 
   
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          TOOLBAR                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.jcup.jenkinseditor.toolbars.mainToolbar"
               label="Jenkins Editor Toolbar">
            <command
                  commandId="jenkinseditor.editor.commands.callLinter"
                  icon="icons/jenkinseditor/jenkins-lint-call.png"
                  id="jenkinseditor.toolbar.editor.commands.callLinter"
                  label="Validate by Jenkins Linter"
                  tooltip="Validate by Jenkins Linter - done by remote operation on server">
	    
	            <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                     	<instanceof
                            value="de.jcup.jenkinseditor.JenkinsEditor"/>
                     </with>
    	           </visibleWhen>
                  
            </command>
	  
            <command
                  commandId="jenkinseditor.editor.commands.replayPipeline"
                  icon="icons/jenkinseditor/console/replay-pipeline.png"
                  id="jenkinseditor.toolbar.editor.commands.replayPipeline"
                  tooltip="Replay former pipeline build with current editor content\n and fetch logs from last build (means triggered replay build)."
                  >
        
                <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                        <instanceof
                            value="de.jcup.jenkinseditor.JenkinsEditor"/>
                     </with>
                   </visibleWhen>
                  
            </command>
            <command
                  commandId="jenkinseditor.editor.commands.fetchLastBuildLogs"
                  icon="icons/jenkinseditor/console/restore-log.png"
                  id="jenkinseditor.toolbar.editor.commands.fetchLastBuildLogs"
                  tooltip="Fetch logs from last build"
                  
                  >
        
                <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                        <instanceof
                            value="de.jcup.jenkinseditor.JenkinsEditor"/>
                     </with>
                   </visibleWhen>
                  
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorEditorPreferencePage"
         class="de.jcup.jenkinseditor.preferences.JenkinsEditorPreferencePage"
         name="Jenkins Editor"
         >
         <keywordReference
               id="jenkinseditor.preferences.keyword.jenkins">
         </keywordReference>
          <keywordReference
               id="jenkinseditor.preferences.keyword.editor">
         </keywordReference>
      </page>
      <page
         id="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorEditorSyntaxColorPreferencePage"
         class="de.jcup.jenkinseditor.preferences.JenkinsEditorSyntaxColorPreferencePage"
         name="Syntax coloring"
         category="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorEditorPreferencePage">
         <keywordReference
               id="jenkinseditor.preferences.keyword.jenkins">
         </keywordReference>
          <keywordReference
               id="jenkinseditor.preferences.keyword.color">
         </keywordReference>
      </page>
      <page
         id="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorTaskTagsPreferencePage"
         class="de.jcup.jenkinseditor.preferences.JenkinsEditorTaskTagsPreferencePage"
         name="Tasks"
         category="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorEditorPreferencePage">
         <keywordReference
               id="jenkinseditor.preferences.keyword.jenkins">
         </keywordReference>
         <keywordReference
               id="jenkinseditor.preferences.keyword.task">
         </keywordReference>
         <keywordReference
               id="jenkinseditor.preferences.keyword.tasks">
         </keywordReference>
      </page>
      <page
         id="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorFormatterPreferencePage"
         class="de.jcup.jenkinseditor.preferences.JenkinsEditorFormatterPreferencePage"
         name="Formatter"
         category="jenkinseditor.eclipse.gradleeditor.preferences.JenkinsEditorEditorPreferencePage">
         <keywordReference
               id="jenkinseditor.preferences.keyword.jenkins">
         </keywordReference>
         <keywordReference
               id="jenkinseditor.preferences.keyword.format">
         </keywordReference>
         <keywordReference
               id="jenkinseditor.preferences.keyword.formatter">
         </keywordReference>
      </page>
    </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.jenkinseditor.preferences.JenkinsEditorPreferenceInitializer">
      </initializer>
      <initializer
            class="de.jcup.jenkinseditor.preferences.JenkinsEditorTaskTagsPreferenceInitializer">
      </initializer>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.jenkinseditor.parse.error"
    	point="org.eclipse.core.resources.markers"
    	name="Jenkins editor parse error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
    <extension 
   		id="de.jcup.jenkinseditor.linter.error"
    	point="org.eclipse.core.resources.markers"
    	name="Jenkins linter error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EditorToc.xml"
            primary="true">
      </toc>
   </extension>
   
</plugin>
